app-root{
  position: relative;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

h1 {
  width: 70%;
}

footer {
  position: absolute;
  bottom: 0;
  height: 2rem;
  color: white;
  background-color: slateblue;
  width: 100%;
  text-align: center;
  padding-top: 1rem;
}

